{% extends 'layout.html'%}
{% block title%}Ley de transparencia{%endblock%}
{% block body %}
  <div class="text-center">
  <h5>
    LEY 1712 DE 2014 <br>
    (Marzo 6) <br>
  </h5>
  <p class="fst-italic"><b class="fw-bold">Nota: </b>
    (El proyecto de Ley Estatutaria “Por medio del cual se crea la ley de transparencia y del derecho de acceso a la información pública nacional.”, fue revisado mediante la sentencia C-274 de 2013, de acuerdo con lo establecido en los artículos 153 y 241-8 de la Constitución Política.)
  </p>

  <h5 class="fw-bold">
    Por medio de la cual se crea la Ley de Transparencia y del Derecho de Acceso a la Información Pública Nacional y se dictan otras disposiciones. <br><br>
    
    El congreso de la República <br><br>
    DECRETA: <br><br>
    TITULO I <br><br>
    DISPOSICIONES GENERALES <br><br>
  </h5>
  </div>

  <p><b class="fw-bold">Articulo 1. Objeto</b>
    El objeto de la presente ley es regular el derecho de acceso a la información pública, los procedimientos para el ejercicio y garantía del derecho y las excepciones a la publicidad de información.
  </p>

  <p><b class="fw-bold">ARTÍCULO  2. Principio de máxima publicidad para titular universal.</b>
    Toda información en posesión, bajo control o custodia de un sujeto obligado es pública y no podrá ser reservada o limitada sino por disposición constitucional o legal, de conformidad con la presente ley.
  </p>

  <p><b class="fw-bold">ARTÍCULO  3. Otros principios de la transparencia y acceso a la información pública. </b>
    En la interpretación del derecho de acceso a la información se deberá adoptar un criterio de razonabilidad y proporcionalidad, así como aplicar los siguientes principios: <br><br>

    Principio de transparencia. Principio conforme al cual toda la información en poder de los sujetos obligados definidos en esta ley se presume pública, en consecuencia de lo cual dichos sujetos están en el deber de proporcionar y facilitar el acceso a la misma en los términos más amplios posibles y a través de los medios y procedimientos que al efecto establezca la ley, excluyendo solo aquello que esté sujeto a las excepciones constitucionales y legales y bajo el cumplimiento de los requisitos establecidos en esta ley. <br><br>

    Principio de buena fe. En virtud del cual todo sujeto obligado, al cumplir con las obligaciones derivadas del derecho de acceso a la información pública, lo hará con motivación honesta, leal y desprovista de cualquier intención dolosa o culposa. <br><br>

    Principio de facilitación. En virtud de este principio los sujetos obligados deberán facilitar el ejercicio del derecho de acceso a la información pública, excluyendo exigencias o requisitos que puedan obstruirlo o impedirlo. <br><br>
    
    Principio de no discriminación. De acuerdo al cual los sujetos obligados deberán entregar información a todas las personas que lo soliciten, en igualdad de condiciones, sin hacer distinciones arbitrarias y sin exigir expresión de causa o motivación para la solicitud. <br><br>

    Principio de gratuidad. Según este principio el acceso a la información pública es gratuito y no se podrá cobrar valores adicionales al costo de reproducción de la información. <br><br>
    
    Principio de celeridad. Con este principio se busca la agilidad en el trámite y la gestión administrativa. Comporta la indispensable agilidad en el cumplimiento de las tareas a cargo de entidades y servidores públicos. <br><br>
    
    Principio de eficacia. El principio impone el logro de resultados mínimos en relación con las responsabilidades confiadas a los organis­mos estatales, con miras a la efectividad de los derechos colectivos e individuales. <br><br>
    
    Principio de la calidad de la información. Toda la información de interés público que sea producida, gestionada y difundida por el sujeto obligado, deberá ser oportuna, objetiva, veraz, completa, reutilizable, procesable y estar disponible en formatos accesibles para los solicitantes e interesados en ella, teniendo en cuenta los procedimientos de gestión documental de la respectiva entidad. <br><br>
    
    Principio de la divulgación proactiva de la información. El derecho de acceso a la información no radica únicamente en la obligación de dar respuesta a las peticiones de la sociedad, sino también en el deber de los sujetos obligados de promover y generar una cultura de transparencia, lo que conlleva la obligación de publicar y divulgar documentos y archivos que plasman la actividad estatal y de interés público, de forma rutinaria y proactiva, actualizada, accesible y comprensible, atendiendo a límites razonables del talento humano y recursos físicos y financieros. <br><br>
    
    Principio de responsabilidad en el uso de la información. En virtud de este, cualquier persona que haga uso de la información que proporcionen los sujetos obligados, lo hará atendiendo a la misma. <br><br>
  </p>

  <p><b class="fw-bold">ARTÍCULO  4. Concepto del derecho.</b>
    En ejercicio del derecho fundamental de acceso a la información, toda persona puede conocer sobre la existencia y acceder a la información pública en posesión o bajo control de los sujetos obligados. El acceso a la información solamente podrá ser restringido excepcionalmente. Las excepciones serán limitadas y proporcionales, deberán estar contempladas en la ley o en la Constitución y ser acordes con los principios de una sociedad democrática. <br><br>

    El derecho de acceso a la información genera la obligación correlativa de divulgar proactivamente la información pública y responder de buena fe, de manera adecuada, veraz, oportuna y accesible a las solicitudes de acceso, lo que a su vez conlleva la obligación de producir o capturar la información pública. Para cumplir lo anterior los sujetos obligados deberán implementar procedimientos archivísticos que garanticen la disponibilidad en el tiempo de documentos electrónicos auténticos. <br><br>
  </p>

  <p><b class="fw-bold">Parágrafo: </b>
    Cuando el usuario considere que la solicitud de la información pone en riesgo su integridad o la de su familia, podrá solicitar ante el Ministerio Público el procedimiento especial de solicitud con identificación reservada.
  </p>

  <p><b class="fw-bold"> ARTÍCULO  5. Ámbito de aplicación.</b>
    Las disposiciones de esta ley serán aplicables a las siguientes personas en calidad de sujetos obligados: <br><br>

    a) Toda entidad pública, incluyendo las pertenecientes a todas las Ramas del Poder Público, en todos los niveles de la estructura estatal, central o descentralizada por servicios o territorialmente, en los órdenes nacional, departamental, municipal y distrital. <br><br>     
    
    b) Los órganos, organismos y entidades estatales independientes o autónomos y de control; <br><br>
    
     
    
    c) Las personas naturales y jurídicas, públicas o privadas, que presten función pública, que presten servicios públicos respecto de la información directamente relacionada con la prestación del servicio público; <br><br>
    
     
    d) Cualquier persona natural, jurídica o dependencia de persona jurídica que desempeñe función pública o de autoridad pública, respecto de la información directamente relacionada con el desempeño de su función. <br><br>
    
    e) Los partidos o movimientos políticos y los grupos significativos de ciudadanos; <br><br>
    
    f) Las entidades que administren instituciones parafiscales, fondos o recursos de naturaleza u origen público. <br><br>
    
    Las personas naturales o jurídicas que reciban o intermedien fondos o beneficios públicos territoriales y nacionales y no cumplan ninguno de los otros requisitos para ser considerados sujetos obligados, solo deberán cumplir con la presente ley respecto de aquella información que se produzca en relación con fondos públicos que reciban o intermedien.
  </p>

  <p><b class="fw-bold">Parágrafo</b>
    No serán sujetos obligados aquellas personas naturales o jurídicas de carácter privado que sean usuarios de información pública.
  </p>

  <p><b class="fw-bold"></b>
    a) Información. Se refiere a un conjunto organizado de datos contenido en cualquier documento que los sujetos obligados generen, obtengan, adquieran, transformen o controlen; <br><br>

    b) Información pública. Es toda información que un sujeto obligado genere, obtenga, adquiera, o controle en su calidad de tal; <br><br>
    
    c) Información pública clasificada. Es aquella información que estando en poder o custodia de un sujeto obligado en su calidad de tal, pertenece al ámbito propio, particular y privado o semiprivado de una persona natural o jurídica por lo que su acceso podrá ser negado o exceptuado, siempre que se trate de las circunstancias legítimas y necesarias y los derechos particulares o privados consagrados en el artículo 18 de esta ley;

    d) Información pública reservada. Es aquella información que estando en poder o custodia de un sujeto obligado en su calidad de tal, es exceptuada de acceso a la ciudadanía por daño a intereses públicos y bajo cumplimiento de la totalidad de los requisitos consagrados en el artículo 19 de esta ley; <br><br>

    e) Publicar o divulgar. Significa poner a disposición en una forma de acceso general a los miembros del público e incluye la impresión, emisión y las formas electrónicas de difusión; <br><br>

    f) Sujetos obligados. Se refiere a cualquier persona natural o jurídica, pública o privada incluida en el artículo 5 de esta ley; <br><br>
    
    g) Gestión documental. Es el conjunto de actividades administrativas y técnicas tendientes a la planificación, procesamiento, manejo y organización de la documentación producida y recibida por los sujetos obligados, desde su origen hasta su destino final, con el objeto de facilitar su utilización y conservación; <br><br>
    
    h) Documento de archivo. Es el registro de información producida o recibida por una entidad pública o privada en razón de sus actividades o funciones; <br><br>
    
    i) Archivo. Es el conjunto de documentos, sea cual fuere su fecha, forma y soporte material, acumulados en un proceso natural por una persona o entidad pública o privada, en el transcurso de su gestión, conservados respetando aquel orden para servir como testimonio e información a la persona o institución que los produce y a los ciudadanos, como fuentes de la historia. También se puede entender como la institución que está al servicio de la gestión administrativa, la información, la investigación y la cultura; <br><br>
    
    j) Datos Abiertos. Son todos aquellos datos primarios o sin procesar, que se encuentran en formatos estándar e interoperables que facilitan su acceso y reutilización, los cuales están bajo la custodia de las entidades públicas o privadas que cumplen con funciones públicas y que son puestos a disposición de cualquier ciudadano, de forma libre y sin restricciones, con el fin de que terceros puedan reutilizarlos y crear servicios derivados de los mismos; <br><br>
    
    k) Documento en construcción. No será considerada información pública aquella información preliminar y no definitiva, propia del proceso deliberatorio de un sujeto obligado en su calidad de tal. <br><br>
  </p> <br>

  <h5 class="fw-bold">
    TITULO II <br>
    DE LA PUBLICIDAD Y DEL CONTENIDO DE LA INFORMACIÓN <br>
  </h5> <br>

  <p><b class="fw-bold">ARTÍCULO  7. Disponibilidad de la Información.</b>
    En virtud de los principios señalados, deberá estar a disposición del público la información a la que hace referencia la presente ley, a través de medios físicos, remotos o locales de comunicación electrónica. Los sujetos obligados deberán tener a disposición de las personas interesadas dicha información en la Web, a fin de que estas puedan obtener la información, de manera directa o mediante impresiones. Asimismo, estos deberán proporcionar apoyo a los usuarios que lo requieran y proveer todo tipo de asistencia respecto de los trámites y servicios que presten.
  </p>

  <p><b class="fw-bold">Parágrafo.</b>
    Se permite en todo caso la retransmisión de televisión por internet cuando el contenido sea información pública de entidades del Estado o noticias al respecto.
  </p>

  <p><b class="fw-bold">ARTÍCULO  8. Criterio diferencial de accesibilidad.</b>
    Con el objeto de facilitar que las poblaciones específicas accedan a la información que particularmente las afecte, los sujetos obligados, a solicitud de las autoridades de las comunidades, divulgarán la información pública en diversos idiomas y lenguas y elaborarán formatos alternativos comprensibles para dichos grupos. Deberá asegurarse el acceso a esa información a los distintos grupos étnicos y culturales del país y en especial se adecuarán los medios de comunicación para que faciliten el acceso a las personas que se encuentran en situación de discapacidad.


  </p>

  <p><b class="fw-bold">ARTÍCULO  9. Información mínima obligatoria respecto a la estructura del sujeto obligado. </b>
    Todo sujeto obligado deberá publicar la siguiente información mínima obligatoria de manera proactiva en los sistemas de información del Estado o herramientas que lo sustituyan: <br><br>

    a) La descripción de su estructura orgánica, funciones y deberes, la ubicación de sus sedes y áreas, divisiones o departamentos, y sus horas de atención al público; <br><br>

    b) Su presupuesto general, ejecución presupuestal histórica anual y planes de gasto público para cada año fiscal, de conformidad con el artículo 74 de la Ley 1474 de 2011; <br></br>

    c) Un directorio que incluya el cargo, direcciones de correo electrónico y teléfono del despacho de los empleados y funcionarios y las escalas salariales correspondientes a las categorías de todos los servidores que trabajan en el sujeto obligado, de conformidad con el formato de información de servidores públicos y contratistas; <br><br>

    d) Todas las normas generales y reglamentarias, políticas, lineamientos o manuales, las metas y objetivos de las unidades administrativas de conformidad con sus programas operativos y los resultados de las auditorías al ejercicio presupuestal e indicadores de desempeño; <br><br>

    e) Su respectivo plan de compras anual, así como las contrataciones adjudicadas para la correspondiente vigencia en lo relacionado con funcionamiento e inversión, las obras públicas, los bienes adquiridos, arrendados y en caso de los servicios de estudios o investigaciones deberá señalarse el tema específico, de conformidad con el artículo 74 de la Ley 1474 de 2011. En el caso de las personas naturales con contratos de prestación de servicios, deberá publicarse el objeto del contrato, monto de los honorarios y direcciones de correo electrónico, de conformidad con el formato de información de servidores públicos y contratistas; <br><br>
    
    f) Los plazos de cumplimiento de los contratos; <br><br>

    g) Publicar el Plan Anticorrupción y de Atención al Ciudadano, de conformidad con el artículo 73 de la Ley 1474 de 2011. <br><br>
  </p>

  <p><b class="fw-bold">Parágrafo 1:</b>
    La información a que se refiere este artículo deberá publicarse de tal forma que facilite su uso y comprensión por las personas, y que permita asegurar su calidad, veracidad, oportunidad y confiabilidad.
  </p>

  <p><b class="fw-bold">Parágrafo 2:</b>
    En relación a los literales c) y e) del presente artículo, el Departamento Administrativo de la Función Pública establecerá un formato de información de los servidores públicos y de personas naturales con contratos de prestación de servicios, el cual contendrá los nombres y apellidos completos, ciudad de nacimiento, formación académica, experiencia laboral y profesional de los funcionarios y de los contratistas. Se omitirá cualquier información que afecte la privacidad y el buen nombre de los servidores públicos y contratistas, en los términos definidos por la Constitución y la ley.
  </p>

  <p><b class="fw-bold">Parágrafo 3:</b>
    Sin perjuicio a lo establecido en el presente artículo, los sujetos obligados deberán observar lo establecido por la estrategia de gobierno en línea, o la que haga sus veces, en cuanto a la publicación y divulgación de la información.
  </p>

  <p><b class="fw-bold">ARTÍCULO  10. Publicidad de la contratación.</b>
    En el caso de la información de contratos indicada en el artículo 9 literal e), tratándose de contrataciones sometidas al régimen de contratación estatal, cada entidad publicará en el medio electrónico institucional sus contrataciones en curso y un vínculo al sistema electrónico para la contratación pública o el que haga sus veces, a través del cual podrá accederse directamente a la información correspondiente al respectivo proceso contractual, en aquellos que se encuentren sometidas a dicho sistema, sin excepción.
  </p>

  <p>Para leer la ley de transparencia completa, <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=56882">Click Aquí</a></p>

{% endblock%}

<p><b class="fw-bold"></b>

</p>