{% extends 'layout.html'%}
{% block title%}Ley de tratamiento y uso de datos{%endblock%}
{% block body %}
  <div class="text-center">
    <h2>
      EL CONGRESO DE COLOMBIA <br>
      DECRETA: <br>
      TÍTULO I <br>
      OBJETO, ÁMBITO DE APLICACIÓN Y DEFINICIONES <br>
    </h2></div>
    <p> <b class="fw_bold">Articulo 1º. Objeto. </b>La presente ley tiene por objeto desarrollar el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos, y los demás derechos, libertades y garantías constitucionales a que se refiere el artículo 15 de la Constitución Política; así como el derecho a la información consagrado en el artículo 20 de la misma.</p> <br><br>

    <p> <b class="fw_bold">Artículo  2°. Ámbito de aplicación.</b> Los principios y disposiciones contenidas en la presente ley serán aplicables a los datos personales registrados en cualquier base de datos que los haga susceptibles de tratamiento por entidades de naturaleza pública o privada. <br><br>

      La presente ley aplicará al tratamiento de datos personales efectuado en territorio colombiano o cuando al Responsable del Tratamiento o Encargado del Tratamiento no establecido en territorio nacional le sea aplicable la legislación colombiana en virtud de normas y tratados internacionales. <br><br>
      
      El régimen de protección de datos personales que se establece en la presente ley no será de aplicación: <br><br>
      
       a) A las bases de datos o archivos mantenidos en un ámbito exclusivamente personal o doméstico. <br><br>
      
      Cuando estas bases de datos o archivos vayan a ser suministrados a terceros se deberá, de manera previa, informar al Titular y solicitar su autorización. En este caso los Responsables y Encargados de las bases de datos y archivos quedarán sujetos a las disposiciones contenidas en la presente ley; <br><br>
      
      b) A las bases de datos y archivos que tengan por finalidad la seguridad y defensa nacional, así como la prevención, detección, monitoreo y control del lavado de activos y el financiamiento del terrorismo; <br><br>
      
      c) A las Bases de datos que tengan como fin y contengan información de inteligencia y contrainteligencia; <br><br>
      
      d) A las bases de datos y archivos de información periodística y otros contenidos editoriales; <br><br>
      
      e) A las bases de datos y archivos regulados por la Ley 1266 de 2008; <br><br>
      
      f) A las bases de datos y archivos regulados por la Ley 79 de 1993.</p> <br><br>

      <p> <b class="fw_bold">Parágrafo </b>Los principios sobre protección de datos serán aplicables a todas las bases de datos, incluidas las exceptuadas en el presente artículo, con los límites dispuestos en la presente ley y sin reñir con los datos que tienen características de estar amparados por la reserva legal. En el evento que la normatividad especial que regule las bases de datos exceptuadas prevea principios que tengan en consideración la naturaleza especial de datos, los mismos aplicarán de manera concurrente a los previstos en la presente ley.</p> <br>
      
      <p> <b class="fw_bold">Articulo 3º. Definiciones. </b>Para los efectos de la presente ley, se entiende por:</p>

      <p>a) <b class="fw-bold">autorización: </b>
        Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales;
      </p>

      <p>b) <b class="fw-bold">Base de datos: </b>
        Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales;
      </p>

      <p>c)<b class="fw-bold">Dato personal: </b>
        Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables;
      </p>
      
      <p>d)<b class="fw-bold">Encargado del tratamiento: </b>
        Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento;
      </p>

      <p>e) <b class="fw-bold">Responsable del tratamiento: </b>
        Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos;
      </p>

      <p>f) <b class="fw-bold">Titular: </b>
        Persona natural cuyos datos personales sean objeto de Tratamiento;
      </p>
        
      <p>g) <b class="fw-bold">Tratamiento:</b>
        Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
      </p>

      <h3 class="text-center">TÍTULO II <br>
        PRINCIPIOS RECTORES <br>
        </h3> <br>

        <p><b class="fw-bold">Artículo  4°. Principios para el Tratamiento de datos personales.</b>
          En el desarrollo, interpretación y aplicación de la presente ley, se aplicarán, de manera armónica e integral, los siguientes principios:
        </p>

        <p>a)<b class="fw-bold">Principio de legalidad en materia de Tratamiento de datos: </b>
          El Tratamiento a que se refiere la presente ley es una actividad reglada que debe sujetarse a lo establecido en ella y en las demás disposiciones que la desarrollen;
        </p>

        <p>b) <b class="fw-bold">Principio de finalidad: </b>
          El Tratamiento debe obedecer a una finalidad legítima de acuerdo con la Constitución y la Ley, la cual debe ser informada al Titular;
        </p>

        <p>c) <b class="fw-bold">Principio de libertad: </b>
          El Tratamiento sólo puede ejercerse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento;
        </p>

        <p>d) <b class="fw-bold">Principio de veracidad o calidad: </b>
          La información sujeta a Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error;
        </p>

        <p>e) <b class="fw-bold">Principio de transparencia: </b>
          En el Tratamiento debe garantizarse el derecho del Titular a obtener del Responsable del Tratamiento o del Encargado del Tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan;
        </p>

        <p>f) <b class="fw-bold">Principio de acceso y circulación restringida:</b>
          El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la presente ley y la Constitución. En este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la presente ley;<br>

          Los datos personales, salvo la información pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados conforme a la presente ley;
        </p>

        <p>g) <b class="fw-bold">Principio de seguridad: </b>
          La información sujeta a Tratamiento por el Responsable del Tratamiento o Encargado del Tratamiento a que se refiere la presente ley, se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
        </p>

        <p>h) <b class="fw-bold">Principio de confidencialidad:</b>
          Todas las personas que intervengan en el Tratamiento de datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la presente ley y en los términos de la misma.
        </p>

        <h3 class="text-center">TÍTULO III <br>
          CATEGORÍAS ESPECIALES DE DATOS <br>
          </h3> <br>

          <p><b class="fw-bold">Artículo  5°. Datos sensibles.</b>
            Para los propósitos de la presente ley, se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos.
          </p>

          <p><b class="fw-bold">Artículo  6°. Tratamiento de datos sensibles.</b>
            Se prohíbe el Tratamiento de datos sensibles, excepto cuando: <br><br>

            a) El Titular haya dado su autorización explícita a dicho Tratamiento, salvo en los casos que por ley no sea requerido el otorgamiento de dicha autorización; <br><br>
            
            b) El Tratamiento sea necesario para salvaguardar el interés vital del Titular y este se encuentre física o jurídicamente incapacitado. En estos eventos, los representantes legales deberán otorgar su autorización;<br><br>
            
            c) El Tratamiento sea efectuado en el curso de las actividades legítimas y con las debidas garantías por parte de una fundación, ONG, asociación o cualquier otro organismo sin ánimo de lucro, cuya finalidad sea política, filosófica, religiosa o sindical, siempre que se refieran exclusivamente a sus miembros o a las personas que mantengan contactos regulares por razón de su finalidad. En estos eventos, los datos no se podrán suministrar a terceros sin la autorización del Titular;<br><br>
            
            d) El Tratamiento se refiera a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial;<br><br>
            
            e) El Tratamiento tenga una finalidad histórica, estadística o científica. En este evento deberán adoptarse las medidas conducentes a la supresión de identidad de los Titulares. <br><br><br>
          </p>

          <p><b class="fw-bold">Artículo  7°. Derechos de los niños, niñas y adolescentes.</b>
            En el Tratamiento se asegurará el respeto a los derechos prevalentes de los niños, niñas y adolescentes. <br><br>

            Queda proscrito el Tratamiento de datos personales de niños, niñas y adolescentes, salvo aquellos datos que sean de naturaleza pública. <br><br>
            
            Es tarea del Estado y las entidades educativas de todo tipo proveer información y capacitar a los representantes legales y tutores sobre los eventuales riesgos a los que se enfrentan los niños, niñas y adolescentes respecto del Tratamiento indebido de sus datos personales, y proveer de conocimiento acerca del uso responsable y seguro por parte de niños, niñas y adolescentes de sus datos personales, su derecho a la privacidad y protección de su información personal y la de los demás. El Gobierno Nacional reglamentará la materia, dentro de los seis (6) meses siguientes a la promulgación de esta ley. <br><br>
          </p>

          <h3 class="text-center">TÍTULO IV <br>
            DERECHOS Y CONDICIONES DE LEGALIDAD PARA EL TRATAMIENTO DE DATOS <br>
            </h3> <br>

            <p><b class="fw-bold">Artículo 8°. Derechos de los Titulares.</b>
              El Titular de los datos personales tendrá los siguientes derechos: <br><br>

              a) Conocer, actualizar y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado; <br><br>
              
              b) Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la presente ley; <br><br>
              
              c) Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales; <br><br>
              
              d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente ley y las demás normas que la modifiquen, adicionen o complementen; <br><br>
              
              e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a esta ley y a la Constitución; <br><br>
              
              f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento. <br><br>
            </p>

            <p><b class="fw-bold">Artículo  9°. Autorización del Titular.</b>
              Sin perjuicio de las excepciones previstas en la ley, en el Tratamiento se requiere la autorización previa e informada del Titular, la cual deberá ser obtenida por cualquier medio que pueda ser objeto de consulta posterior.
            </p>

            <p><b class="fw-bold">Artículo  10. Casos en que no es necesaria la autorización.</b>
              La autorización del Titular no será necesaria cuando se trate de: <br><br>

              a) Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial; <br><br>
              
              b) Datos de naturaleza pública; <br><br>
              
              c) Casos de urgencia médica o sanitaria; <br><br>
              
              d) Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos; <br><br>
              
              e) Datos relacionados con el Registro Civil de las Personas. <br><br>
              
              Quien acceda a los datos personales sin que medie autorización previa deberá en todo caso cumplir con las disposiciones contenidas en la presente ley. <br><br>
            </p>

            <p><b class="fw-bold">Artículo 11. Suministro de la información.</b>
              La información solicitada podrá ser suministrada por cualquier medio, incluyendo los electrónicos, según lo requiera el Titular. La información deberá ser de fácil lectura, sin barreras técnicas que impidan su acceso y deberá corresponder en un todo a aquella que repose en la base de datos. <br><br>

              El Gobierno Nacional establecerá la forma en la cual los Responsables del Tratamiento y Encargados del Tratamiento deberán suministrar la información del Titular, atendiendo a la naturaleza del dato personal, Esta reglamentación deberá darse a más tardar dentro del año siguiente a la promulgación de la presente ley. <br><br>
            </p>

            <p><b class="fw-bold">Artículo 12. Deber de informar al Titular.</b>
              El Responsable del Tratamiento, al momento de solicitar al Titular la autorización, deberá informarle de manera clara y expresa lo siguiente: <br><br>

              a) El Tratamiento al cual serán sometidos sus datos personales y la finalidad del mismo; <br><br>
              
              b) El carácter facultativo de la respuesta a las preguntas que le sean hechas, cuando estas versen sobre datos sensibles o sobre los datos de las niñas, niños y adolescentes; <br><br>
              
              c) Los derechos que le asisten como Titular; <br><br>
              
              d) La identificación, dirección física o electrónica y teléfono del Responsable del Tratamiento. <br><br>
            </p>

            <p><b class="fw-bold">Parágrafo</b>
              El Responsable del Tratamiento deberá conservar prueba del cumplimiento de lo previsto en el presente artículo y, cuando el Titular lo solicite, entregarle copia de esta.
            </p>

            <p><b class="fw-bold">Artículo 13. Personas a quienes se les puede suministrar la información. </b>
              La información que reúna las condiciones establecidas en la presente ley podrá suministrarse a las siguientes personas: <br><br>

              a) A los Titulares, sus causahabientes o sus representantes legales; <br><br>
              
              b) A las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial; <br><br>
              
              c) A los terceros autorizados por el Titular o por la ley. <br><br>
            </p><br>

            <p>Para leer la ley de tratamiento de datos completa, <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=49981">Click Aquí</a></p>
      
  
{% endblock%}

